package ${packageName};

/**
 * Auto Generator, Don't Modify .
 */
public final class ${className} {
	
	#foreach ($message in ${messages})
/**
	 * ${message.comments}
	 */
	public static final short ${message.constName} = ${message.hexCode};
	#end
	
}
