package org.oszz.ox.server.base.message;

import org.oszz.ox.core.message.MessageCodeMapping;
import org.oszz.ox.core.message.MessageProcesserType;

/**
 * 消息编码与消息类、消息处理类的对应关系<br>
 * Auto Generator, Don't Modify .
 * @author ZZ
 *
 */
public class MessageCodeMappingRegisterService {

	public void init(){
		#foreach ($mcmrsc in ${mcmrscs})
//${mcmrsc.comments}
		MessageCodeMapping.getInstance().register(MessageCode.${mcmrsc.constName}, ${mcmrsc.msgClass}, new ${mcmrsc.handlerClass}(), ${mcmrsc.messageProcesserType});
		#end
}
}
