package org.oszz.ox.server.base.template;

import org.oszz.ox.core.template.AbstractTemplateDataClassHolder;

/**
 * 模板数据类的class持有者<br>
 * Auto Generator, Don't Modify .
 */
public class TemplateDataClassHolder extends AbstractTemplateDataClassHolder {

	@Override
	public void init() {
	#foreach ($dataClass in ${dataClasses})
	this.put(${dataClass.name});
	
	#end
}

}