package ${packageName};

import org.oszz.ox.core.regist.AbstractHumanDataManagerRegister;
/**
 * 模块DataManager类的class映射类<br>
 * Auto Generator, Don't Modify .
 */
public class HumanDataManagerRegister extends AbstractHumanDataManagerRegister {

	@Override
	public void init() {
	#foreach ($mapClass in ${mapClasses})
	this.regist(${mapClass});
	
	#end
}
}

