package ${packageName};

public final class MessageCode {
	
	#foreach ($msgCodeConf in ${msgCodeConfigs})
/**
	 * ${msgCodeConf.comments}
	 */
	public static final short ${msgCodeConf.constName} = ${msgCodeConf.hexCode};
	#end
	
}
