package ${packageName};

import org.oszz.ox.core.message.AbstractMessage;

import com.google.protobuf.GeneratedMessage;
import com.google.protobuf.Message;

/**
 * ${comments}<br>
 * Auto Generator, Don't Modify .
 */
public class ${className} extends AbstractMessage {

	public ${className}() {
		
	}

	public ${className}(Message protoMsg) {
		super(protoMsg);
	}

	@Override
	public short getCode() {
		return ${messageCodeClassName}.${msgCodeConstName};
	}

	@Override
	public Class<? extends GeneratedMessage> getProtobufMessageClass() {
		return ${protobufMessageClass};
	}

}
