package ${packageName};

import org.oszz.ox.core.message.IMessage;
import org.oszz.ox.core.message.IMessageHandler;
import org.oszz.ox.core.player.IPlayer;

/**
 * ${comments} <br>
 * Handler Auto Generator
 */
public interface ${className} extends IMessageHandler{

	@Override
	public void handle(IPlayer player, IMessage message){
		//TODO Handler Auto Generator
	}
	
	
	
}
